/* ========= Styling rules to affect widgets ========= */
.inawe .dijitPopup {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.inawe .dijitTooltipDialogPopup {
  /* exception popups: do not use a shadow on these because they aren't rectangular */

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* The highlight is shown in the ComboBox menu.  TODO: move to form/Common.less */
.inawe .dijitComboBoxHighlightMatch {
  background-color: #ced9ff;
}
.inawe .dijitFocusedLabel {
  /* for checkboxes or radio buttons, hatch border around the corresponding label, to indicate focus */

  outline: 1px dotted #140a09;
}
/* Drag and Drop*/
.inawe .dojoDndItem {
  border-color: rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.inawe .dojoDndItemOver {
  background-color: #ced9ff;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
  border: solid 1px #7e94db;
  color: #000000;
}
.inawe .dojoDndItemAnchor,
.inawe .dojoDndItemSelected {
  background-color: #edf1ff;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
  border: solid 1px #7e94db;
  color: #000000;
}
.inawe .dojoDndItemBefore,
.inawe .dojoDndItemAfter {
  border-color: #7e94db;
}
.inawe table.dojoDndAvatar {
  border: 1px solid #c0c3df;
  border-collapse: collapse;
  background-color: #edf1ff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.inawe .dojoDndAvatarHeader td {
  height: 20px;
  padding-left: 21px;
}
.inawe.dojoDndMove .dojoDndAvatarHeader,
.inawe.dojoDndCopy .dojoDndAvatarHeader {
  background-image: url("images/dnd.png");
  background-repeat: no-repeat;
  background-position: 2px -122px;
}
.inawe .dojoDndAvatarItem td {
  padding: 5px;
}
.inawe.dojoDndMove .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -103px;
}
.inawe.dojoDndCopy .dojoDndAvatarHeader {
  background-color: #f58383;
  background-position: 2px -68px;
}
.inawe.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px -33px;
}
.inawe.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {
  background-color: #97e68d;
  background-position: 2px 2px;
}
