<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
colors="true"
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
stderr="true">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">./module/*/src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="App">
      <directory>./module/App/test</directory>
    </testsuite>
  </testsuites>
    <listeners>
      <listener class="AppTest\AppTestListener" file="./module/App/test/AppTestListener.php"/>
    </listeners>
  <php>
    <env name="DB_ADAPTER_DRIVER_MYSQL" value="false"/>
    <env name="DB_ADAPTER_DRIVER_MYSQL_HOSTNAME" value="192.168.20.20"/>
    <env name="DB_ADAPTER_DRIVER_MYSQL_USERNAME" value="root"/>
    <env name="DB_ADAPTER_DRIVER_MYSQL_PASSWORD" value="Password123"/>
    <env name="DB_ADAPTER_DRIVER_MYSQL_DATABASE" value="testdb"/>
  </php>
</phpunit>
