html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#workSpace {
    height: 100%;
}
.dijitStackContainer {
  height:auto;
}
#leftSideBar {
    width: 14em;
}
.claro .workSpaceLayout .headerPanel {
    background-color: #d0e9fc;
}
#viewsChart {
    width: 550px;
    height: 550px;
}
form {
    padding: 1em;
}
form label {
    padding: 0.25em;
}
form input {
    margin: 0.25em;
}
.error {
    color:red;
}
.success, .dijitProgressBarLabel {
    color:green;
}
.dijitProgressBarLabel {
    font-weight: bold;
}
.dijitTextBox {
    margin: 0.25em;
}
.pImageManagerItem, .cImageManagerItem {
    width:165px;
    height:auto;
    margin: 2px, 2px, 2px, 2px;
}
