:root {
    --brand-color: #013755;
}
.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
.navbar {
    background-color: var(--brand-color);
}
.img-xs {
    width: 35px;
    height: 35px;
}
.rounded-circle {
    border-radius: 50% !important;
}
