/* BorderContainer

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable.

Styling the BorderContainer widget consists of the following:

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/
.inawe .dijitBorderContainer {
  /* matches the width of the splitters between panes */

  padding: 5px;
}
.inawe .dijitSplitContainer-child,
.inawe .dijitBorderContainer-child {
  /* By default put borders on all children of BorderContainer,
	 *  to give illusion of borders on the splitters themselves.
	 */

  border: 1px #c0c3df solid;
}
.inawe .dijitBorderContainer-dijitTabContainerTop,
.inawe .dijitBorderContainer-dijitTabContainerBottom,
.inawe .dijitBorderContainer-dijitTabContainerLeft,
.inawe .dijitBorderContainer-dijitTabContainerRight,
.inawe .dijitBorderContainer-dijitAccordionContainer {
  /* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */

  border: none;
}
.inawe .dijitBorderContainer-dijitBorderContainer {
  /* make nested BorderContainers look like a single big widget with lots of splitters */

  border: 0;
  padding: 0;
}
/* Splitters and gutters */
.inawe .dijitSplitterH,
.inawe .dijitGutterH {
  background: none;
  border: 0;
  height: 5px;
}
.dj_ios .inawe .dijitSplitterH,
.dj_android .inawe .dijitSplitterH {
  height: 11px;
}
.inawe .dijitSplitterH .dijitSplitterThumb {
  background: #c0c3df none;
  height: 1px;
  top: 2px;
  width: 19px;
}
.dj_ios .inawe .dijitSplitterH .dijitSplitterThumb,
.dj_android .inawe .dijitSplitterH .dijitSplitterThumb {
  top: 5px;
}
.inawe .dijitSplitterV,
.inawe .dijitGutterV {
  background: none;
  border: 0;
  width: 5px;
  margin: 0;
}
.dj_ios .inawe .dijitSplitterV,
.dj_android .inawe .dijitSplitterV {
  width: 11px;
}
.inawe .dijitSplitterV .dijitSplitterThumb {
  background: #c0c3df none;
  height: 19px;
  left: 2px;
  width: 1px;
  margin: 0;
}
.dj_ios .inawe .dijitSplitterV .dijitSplitterThumb,
.dj_android .inawe .dijitSplitterV .dijitSplitterThumb {
  left: 5px;
}
/* hovered splitter */
.inawe .dijitSplitterHHover,
.inawe .dijitSplitterVHover {
  font-size: 1px;
  background-color: #edf1ff;
}
.inawe .dijitSplitterHHover {
  background-image: -moz-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
}
.inawe .dijitSplitterVHover {
  background-image: -moz-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
}
.inawe .dijitSplitterHHover .dijitSplitterThumb,
.inawe .dijitSplitterVHover .dijitSplitterThumb {
  background: #7e94db none;
}
/* active splitter */
.inawe .dijitSplitterHActive,
.inawe .dijitSplitterVActive {
  font-size: 1px;
  background-color: #ced9ff;
  background-image: none;
}
