/* ContentPane
 *
 * .dijitContentPane
 * 	set padding for basic content pane
 *
 * Nested layouts:
 *
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane,
 *	set background-color and padding of ContentPane nested within a SplitContainer
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer
 */
.inawe .dijitContentPane {
  padding: 8px;
}
/* nested layouts */
.inawe .dijitTabContainerTop-dijitContentPane,
.inawe .dijitTabContainerLeft-dijitContentPane,
.inawe .dijitTabContainerBottom-dijitContentPane,
.inawe .dijitTabContainerRight-dijitContentPane,
.inawe .dijitAccordionContainer-dijitContentPane {
  background-color: #edf1ff;
  padding: 8px;
}
.inawe .dijitSplitContainer-dijitContentPane,
.inawe .dijitBorderContainer-dijitContentPane {
  background-color: #edf1ff;
  padding: 8px;
}
